.footer__inner {
  background: $background;
  padding-top: 50px;
  padding-bottom: 62px;
}

.footer__top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo-inner {
  padding-top: 100px;
  margin: 0 auto;
  max-width: 166px;
}

.footer__logo {
  margin-left: 13%;
}

